{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <p>类别:
        {% if article.category.parent_category %}
            <a href="{% url 'blog:category_detail' article.category.parent_category.id %}">
                {{ article.category.parent_category.name }}
            </a> /
        {% endif %}
        <a href="{% url 'blog:category_detail' article.category.id %}">{{ article.category }}</a>
    </p>
    <h3>{{ article.title }}
        {% if article.status == "d" %}
            (草稿)
        {% endif %}
    </h3>
    {% if article.status == "p" %}
        <p>发布于{{ article.pub_date | date:"Y-m-j" }}
            浏览{{ article.views }}次
            {% with total_likes=article.users_like.count  users_like=article.users_like.all %}
                <a href="javascript:" data-id="{{ article.id }}"
                   data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                    <span class="glyphicon glyphicon-thumbs-up count">{{ total_likes }}</span>
                </a>
            {% endwith %}
        </p>
    {% endif %}
    {{ article.body|safe }}
    <p>标签:
        {% for tag in article.tags.all %}
            <a href="{% url 'blog:tag_detail' tag.id %}">{{ tag.name }}</a>,
        {% endfor %}
    </p>
    {% if article.author == request.user %}
        {% if article.status == "d" %}
            <a href="{% url 'blog:article_publish' article.id article.slug %}">发布</a>|
        {% endif %}
        <a href="{% url 'blog:article_update' article.id article.slug %}">编辑</a> |
        <a href="{% url 'blog:article_delete' article.id article.slug %}">删除</a>
    {% endif %}
{% endblock %}
{% block extra_body %}
{#我们在Ajax请求发送前使用了jQuery的cookie库把crsftoken加入到请求头里(见beforeSend属性)。#}
{#    如果你不想要发送csrftoken，你还可以在视图里使用@crsf_exempt装饰器。#}
{#    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>#}
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript">
    {#var csrftoken = $.cookie('csrftoken');#}
    {#function csrfSafeMethod(method) {#}
    {#    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}
    {#}#}
    $(document).ready(function(){
        $('a.like').click(function(e){
            e.preventDefault();
            var id = $(this).data('id');
            var action = $(this).data('action');
            $.ajax({
                url: '/blog/article/like/',
                data: {
                    'id': id,
                    'action': action,
                },
                type: 'POST',
                dataType: 'json',
                {#beforeSend: function(xhr, settings) {#}
                {#    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
                {#        xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
                {#    }#}
                {#    },#}
                success: function (data) {
                    if (data['status'] == 'ok')
                    {
                        var previous_action = $('a.like').data('action');
                        // 变换动作
                        $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                        // 变换链接对应文本
                        $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');
                        // 更新总点赞数
                        var previous_likes = parseInt($('span.count .total').text());
                        $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                    }
                    else
                        {
                            window.location.href = "/accounts/login/?next={{ article.get_absolute_url }}"
                        }
                    },
            });
        });
    });
</script>
{% endblock %}
